In [7]:
# Q1
v = ["Harshvardhan",[1,2,3,4,"ABCD"],1.25,(1,2,3)]
v

['Harshvardhan', [1, 2, 3, 4, 'ABCD'], 1.25, (1, 2, 3)]

In [ ]:
#Q2
i)Str
ii)Str
iii)List
iv)float

In [ ]:
#Q3
i)used to divide 4/2 = 2
ii)used to find remainder 4%2 = 0
iii)used to divide and takes floor value 10//3 = 3
iv)used to find the power 2**2 = 4

In [8]:
#Q4
l = [1,2,3,4.4,"Harshvardhan",3+7j,'a','b',9,10]
for i in l:
    print(i)

1
2
3
4.4
Harshvardhan
(3+7j)
a
b
9
10

In [12]:
#Q5
A = 10
B = 2
count = 0
while A%B==0 :
      A = A/B
      count=count+1
print(count)

1

In [14]:
#Q6
l=[i for i in range(1,26)]
for i in l :
    if i % 3 == 0 :
         print(i)

3
6
9
12
15
18
21
24

In [15]:
#Q7
#Mutable : it means that we can change their value after assigning
#Immutable : we cannot change their value once assigned
l = [1,2,3,4,6]
l[3]='Riya'
l

[1, 2, 3, 'Riya', 6]

In [16]:
#but we cannot do this with Strings
s ="Harshvardhan"
s[4]='v'
s

TypeError: 'str' object does not support item assignment

In [17]:
s

'Harshvardhan'